<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">{{ employee.department.name }} | {{ employee.rank.name }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Имя: {{ employee.first_name }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Отчество: {{ employee.middle_name }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Фамилия: {{ employee.last_name }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Образование: {{ employee.year_in_school }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Дата рождения: {{ employee.dob }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Дата принятия на работу: {{ employee.date_accepted }}</strong>
    </a>
    <a class="card-link muted" href="">
      <strong class="d-block text-gray-dark">Стаж: {{ employee.years_worked }}</strong>
    </a>
    <a class="btn btn-sm btn-info" href="{% url 'employee_edit' employee.id %}" role="button">
      Редактировать
    </a>
    <a class="btn btn-sm btn-info" href="{% url 'employee_delete' employee.id %}" role="button">
      Удалить
    </a>
  </div>
</div>